
:root {
  --fancybox-opacity: 0 !important;
  --color-black: #151515;
}
body {
  color: var(--color-black);
}
.fancybox__backdrop {
  background: none !important;
}

header.content-header {
  min-height: auto;
}
.table>thead>tr>th {
  text-transform: none;
  font-size: 15px;
  line-height: 1.2;
}
.page .entry-content {
  padding-top: 2rem;
}
#page, .navbar, .after-footer {
  max-width: initial;
}
.site-content {
  min-height: 500px;
}
.bi {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentcolor;
}
.stage p {
  margin-bottom: 0;
}
pre {
  white-space: break-spaces;
}
#loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  margin: auto;
}
#loginform .login-username,
#loginform .login-password {
  width: 100%;
  text-align: center;
}
#loginform .login-username label,
#loginform .login-password label {
  display: block;
}
#loginform .login-username input,
#loginform .login-password input {
  width: 100%;
}
.navigation .page-numbers {
  padding: 10px;
}
input.form-control.input-date {
  display: inline-block;
  max-width: 140px !important;
}
.page-id-65 #wppb-form-style-3-wrapper form > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.page-id-65 .wppb-form-field {
  width: 30% !important;
}
.page-id-65 #wppb-form-style-3-wrapper {
  max-width: initial;
}
.page-id-65 .wppb-user-forms ul {
  max-width: initial;
}
.page-id-65 .wppb-default-name-heading, .page-id-65 .wppb-default-contact-info-heading, .page-id-65 .wppb-heading {
  width: 100% !important;
  flex-grow: 1;
}
.page-id-35175 #wppb-form-style-3-wrapper {
  margin: auto;
  max-width: 400px;
}
.full-height.content-area-wide {
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.page-id-35190 #wppb-form-style-3-wrapper .label-inside button.wppb-toggle-pw {
  top: 0px !important;
}
.fancybox__content h3 {
  margin: 0 0 20px;
  /* max-width: calc(100% - 40px); */
  text-align: center;
}
.input-group-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.input-group-text input {
  margin-right: 10px;
  margin-top: 0;
}
.pmagic .pm-group-container .pm-group .pm-group-logo, .pmagic .pm-group-container .pm-group .pm-group-info {
  display: none;
}
.pmagic .pm-group-container .pm-group.pm50 {
  min-height: auto !important;
}
.pagination-controls button:not(.active) {
  background-color: transparent;
  color: #000;
}
.input-group-text input {
  margin-right: 10px;
}
.tablesaw-stack td .tablesaw-cell-label {
  font-weight: 400;
  font-size: 17px;
}
.table>thead>tr>th:nth-child(n + 2) {
  min-width: 150px;
}
[data-filter-toggle]:not(.active) .text_hide {
  display: none;
}
[data-filter-toggle].active .text_hide {
  display: block;
}
[data-filter-toggle].active .text_show {
  display: none;
}
[data-filter-toggle]:not(.active)+.sidebar-filter {
  display: none;
  opacity: 0;
  transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
[data-filter-toggle].active+.sidebar-filter {
  display: block;
  opacity: 1;
}
.hidden-filter {
  display: none;
}
.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;
  cursor: pointer;
  transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.text-overflow:hover {
  background-color: #f2f2f2;
  overflow: visible;
}
.ajax-result {
	position: relative;
}
.ajax-result.loading::after {
	content: '';
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.items-view {
  max-width: 160px;
  float: right;
  margin-bottom: 20px;
}
.form_export_transactions .pagination {
  margin: 0 0 20px;
}
select[multiple], select[size] {
  max-height: 78px;
  overflow-y: scroll;
}
select[multiple]::-webkit-scrollbar {
  width: 5px;
}
select[multiple]::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 5px;
}
.filter-input {
  position: relative;
}
.filter-input__btn {
  display: block;
  border-bottom: 1px solid #d2d2d2;
  margin: 0 15px 10px 0;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.filter-input__btn .values {
  font-size: 12px;
}
.filter-input .filter-input__control {
  position: absolute;
  min-width: 280px;
  top: calc(100% + 10px);
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -10;
  pointer-events: none;
  transition: opacity .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.filter-input.is-active .filter-input__control {
  visibility: visible;
  opacity: 1;
  z-index: 10;
  pointer-events: initial;
}
.filter-input__control {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 8px;
}
.filter-input__control select {
  outline: none;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 0;
}
.td-investor {
  max-width: 200px;
  width: 15%;
}
.td-project {
  max-width: 320px;
  width: 20%;
}
.td-transaction {
  max-width: 230px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 20%;
}
.td-date {
  color: #666;
  width: 15%;
}
.td-id {
  max-width: 50px;
  width: 10%;
}
label.sort-label {
  position: relative;
  margin-right: 5px;
  color: #ccc;
}
.sort-label.active {
  color: inherit;
}
.sort-input {
  position: absolute;
  top: 1px;
  left: -2px;
  opacity: 0;
  cursor: pointer;
}
#export_transactions {
  position: fixed;
  bottom: 10%;
  right: 10%;
  border-radius: 50%;
  background-color: #fff;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transition: opacity .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#export_transactions:hover {
  opacity: 0.7;
}
.sort-col {
  white-space: nowrap;
}
select option.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.th-num, .td-num {
  width: 30px;
}
.filter-input__btn[for="transaction_type"]+.filter-input__control {
  width: 420px;
}
.form_export_transactions .btn-clear {
  background-color: transparent;
  color: #151515;
  border-color: transparent;
  display: block;
  margin: auto;
  transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.form_export_transactions .btn-clear:hover {
  border-color: currentColor;
}
[data-tooltip] {
  position: relative;
}
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: 0.6s ease-in-out 0.4s;
}

[data-tooltip]:before {
  content: "";
  height: 0;
  width: 0;
  top: calc(100% - 9px);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #333 transparent;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  white-space: nowrap;
  background: #333;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  top: calc(100% + 11px);
  color: #fff;
  border-radius: 2px;
  text-shadow: 0px 1px 1px #000;
  z-index: 9;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out 0.3s;
}
@media (min-width: 1600px) {
  .container {
    width: 1470px;
  }
}
@media (max-width: 1440px) {
  td.td-date {
    font-size: 14px;
  }
  .th-id, .td-id {
    text-align: center;
    width: 80px;
    min-width: auto !important;
    font-size: 14px;
  }
  .th-sum, .td-sum {
    width: 150px;
    min-width: auto !important;
  }
}
@media (max-width: 768px) {
  .navbar {
    position: static;
  }
  header#masthead {
    position: relative;
  }
  .navbar-default .navbar-toggle {
    position: absolute;
    top: 25px;
    right: 0;
  }
  .navbar {
    min-height: initial;
  }
  .filter-input__btn[for="transaction_type"]+.filter-input__control {
    width: auto;
  }
}